@font-face {
    font-family: 'Ubuntu Light';
    src: url('../../biblioteca/Ubuntu-Light.ttf');
}

* {
    font-family: 'Ubuntu Light';
    
}


body {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #575F51;
    margin: 0;
    justify-content: center;
    /* flex-direction: column; */
}







/* CABECERO */

header > a {
    text-decoration: none;
    color: white;
    padding: 0.5em 0.5em 0.5em;
    transition: all 0.3s ease-out;
    font-size: 5vh;
}

#login {
    font-size: 2vh;
    text-align: center;
}

header > a:hover {
    transform: scale(1.15);
    transition: all 0.3s ease-in;
}


header {
    position: fixed;
    background-color:#2C3128 ;
    width: 100%;
    left: 0;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    /* font-size: 20px !important; */
    font-style: bold;
}

header > hr {
    border: solid 1px white;
    height: 100%;
    margin:0;
}
header > a > img {
    width: 7vw;
    height: 8vh;
}


/* FIN CABECERO */






/* CUERPO DE LA PAGINA PRINCIPAL */


main {
    margin-top: 10%;
    justify-self: center;
    margin-left: 15%;
    margin-right: 15%;
}










/* PIE DE PAGINA */

footer {
    position: fixed;
    background-color: #2C3128;
    width: 100%;
    margin: 0;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 100%;
    color: #FFFFFF;
    /* z-index: -1; */
    bottom: 0%;
}

/* FIN PIE DE PAGINA */





/* FORMULARIO LOGIN Y REGISTRO*/

#container {
    display: flex;
    flex-direction: column;
    background-color: #DAE3D1;
    border-radius: 3px;
    margin-top: 5vh;
    min-width: 50vw;
    max-width: 80vw;
    justify-content: center;
}
#cabecero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    flex-shrink:  1; 
}

#cabecero h2 {
    border: solid 2px #A6B695;
    border-radius: 3px;
    margin: 1vh 1vw;
    padding: 8vh 5vw;
    cursor: pointer;
    transition: all 0.5s ease-out;
    text-align: center;
}
/* #cabecero h2:hover {
    
    background-color: #A6B695;
    transition: all 0.25s ease-in;
} */

/* #iniciar_sesion {
    display: flex;
    flex-direction: column;
    margin: auto;
} */

#registrarse {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* justify-content: space-between;  */
}

form > label {
    margin-top: 20px;
}
form > input {
    margin-top: 10px;
}

form > input[type='submit'] {
    max-width: 50%;
    margin-top: 15px;
    align-self: center;
    box-shadow:  0 10px 5px rgba(0, 0, 0, 0.6);
}
br {
    margin-top: 15px;
    height: 10vh;
}

/* FIN FORMULARIO */








/* BOTONES DEL CENTRO ADMIN */

#menu_trigger {
    display:flex;
    flex-direction: column;
}
#boton_tutor, #boton_alumnos, #boton_proyecto {

    border-radius: 3px;
    margin: 1vh 1vw;
    padding: 8vh 5vw;
    cursor: pointer;
    transition: all 0.25s ease-out;
}
#boton_tutor:hover, #boton_alumnos:hover, #boton_proyecto:hover  {
    
    background-color: #A6B695;
    transition: all 0.25s ease-in;
}





/* RESPONSIVE PARA TELEFONO*/

@media (max-width: 768px) {
    footer {
        margin: 0;
    }
}