@font-face {
    font-family: 'Ubuntu Light';
    src: url('../../biblioteca/Ubuntu-Light.ttf');
}

* {
    font-family: 'Ubuntu Light';
    
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #575F51;
    margin: 0;
    justify-items: center;
}

header > a {
    text-decoration: none;
    color: white;
    padding: 0.5em 0.5em 0.5em;
    transition: all 0.3s ease-out;
}

#login {
    font-size: 2vh;
    text-align: center;
}

header > a:hover {
    transform: scale(1.15);
    transition: all 0.3s ease-in;
}


header {
    position: fixed;
    background-color:#2C3128 ;
    width: 100%;
    left: 0;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    font-size: 5vh;
    font-style: bold;
}

header > hr {
    border: solid 1px white;
    height: 100%;
    margin:0;
}
header > a > img {
    width: 7vw;
    height: 8vh;
}

button {
    cursor: pointer;
}

footer {
    position: relative;
    background-color: #2C3128;
    width: 100%;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1vw;
    color: #FFFFFF;
    z-index: -1;
    margin-top: 5vh;
}


/* FORMULARIO LOGIN Y REGISTRO*/

#container {
    display: flex;
    flex-direction: column;
}
#container section {
    display: flex;
    flex-direction: row;
}

#container h1 {
    padding: 5px;
    cursor: pointer;
}
#registrarse {
    z-index: -1;
}





/* RESPONSIVE PARA TELEFONO*/

@media (max-width: 768px) {
    
}